*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 0px;
}

/*Reusable Classes*/
.firstColor{
    background-color: #d1f2eb !important;
}

.horizontal-scroll {
        overflow-x: auto;
}

.button{
    background-color: #00a5d2 ;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
}


/*Menu*/
.selected{
    text-decoration: none;
    font-size: x-large !important;
}

.selected-hover:hover{
    text-decoration: none;
    color: blue !important;
    font-size: large;
    border-bottom: solid 3px blue !important;
}


/*Productos*/
#mainProductos{
    display: flex;
}

#mainProductos #productos div{
    display: inline-block;
    width: 80%;
}

#mainProductos #productos div:last-child{
    position: relative;
    display: flex;
}

#mainProductos #productos div:last-child a img{
    width: 100px;
}


/*Contactanos*/
#contactanos div div{
    display: flex;
}

#contactanos #atencion, #contactanos #atencion div{
    display: block;
}

#contactanos #mapas div{
    display: block;
    margin: 15px;
}



/*Carrito*/
#carrito{
    display: flex;
}

#carrito section:first-child div{
    display: flex;
}

#carrito section:first-child div div div{
    display: flex;
}

#carrito section:first-child div div img{
    width: 200px;
}

#carrito section:first-child div div div div{
    display: block;
}




/*Movil*/
@media(max-width: 575px){
    .disabled-movil{
        display: none !important;
    }

    .align-item-movil{
        align-items: baseline !important;
    }

    .size-images{
        width: 100% !important;
    }

    .enabled-movil{
        display: block !important;
    }

}








